.productCards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  margin: 10px 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 5px #eaeaea;
  border-radius: 0 0 4px 4px;
}
.product-card img {
  border-radius: 4px 4px 0 0;
}
.product-card b {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

.searchInput {
  width: 280px;
  padding: 7px 10px;
  border: 0;
  outline: none;
  border-radius: 4px;
  font-size: 17px;
  margin-left: 10px;
}

.addNewPopup {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popupContainer {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  height: 100vh;
}

.closePopupBtn {
  position: absolute;
  left: 20px;
  top: 10px;
  border: 0;
  background: #f00;
  color: #fff;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  cursor: pointer;
}
